<div class="jumbotron">
    <div class="container">
        <h1>MÜSSEN oder WOLLEN?</h1>
        <p>Lernen Sie die Incentives des Incident Reportings kennen!</p>
        <br>
        <p><a class="btn btn-primary btn-lg" href="/about" role="button">Weitere Informationen</a>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Gemeinsam gegen Angreifer</h3>
            <p>Demokratische Kollaboration und Dezentalität als Grundlage für einen autonomen Austausch von Vorfallsdaten bei gleichzeitiger Erfüllung der Compliance Vorgaben des IT-Sicherheitsgesetzes.
            </p>
        </div>
        <div class="col-lg-6">
            <h3>Moderne Technologie</h3>
            <p>Das Beste aus IT-Security, Datamining, aktuellen Webtechnologien und DevOps mit der schnellen und ressourcenschonenden EOS Blockchain, der leistungsfähigen MongoDB, dem flexiblen Node.js und dem effizienten Docker.
            </p>
        </div>
    </div>
</div>